.outer__bar {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 15px;
    background: white;
    overflow: hidden;
    padding: 3px;
}

.inner__bar {
    height: 100%;
	background: linear-gradient(
		118.33deg,
		#22a5b7 0%,
		#28b9c2 37.5%,
		#38bcbc 64.58%,
		#149991 100%
	);
    border-radius: 20px;
}

.progress__amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
}
